<%= render 'header' %>

<div class="upload-content">
  <h1 class="upload-text">Drag and drop to upload your loan file</h1>
  <h6 class="upload-text">Or</h6>
  <button type="button" class="upload-btn btn btn-primary">Upload</button>
</div>
