<%= render 'header' %>

<div class="upload-content">
  <%= form_for @client, url: { action: "create" }, html: { multipart: true, class:
    "dropzone", id: "my-dropzone"} do |f| %>
    <div class="dz-message needsclick">
      Drag file here or click to Upload
    </div>
    <div class="fallback">
      <%= f.file_field :file %>
      <%= f.submit "Upload file" %>
    </div>
  <% end %>
</div>
