<div class="s-message hidden" id='success-message'>
  <h1>You successfully uploaded this file!</h1>
</div>

<div class="e-message hidden" id='error-message'>
  <h1>Oops, something went wrong! Please try again.</h1>
</div>
