<% if logged_in? && current_user.admin? %>
  <div class="upload-files">
    <div class="title">
      <h1>Click to download file </h1>
    </div>
    <ul class="link-list">
      <% @items.each do |i| %>
          <li class="link"><%= link_to "#{i.name}", controller: "documents", action: "show", id: i.id %></li>
      <% end %>
    </ul>
  </div>
<% end %>
