<%= render 'header' %>
<div class="new-form">
  <%= form_for(@document, url: { action: "create" }, html: { multipart: true, class: "dropzone", id: "doc-dropzone"}) do |f|  %>
    <div class="fallback">
      <%= f.file_field :document %><br>
      <%= f.submit "Upload" %>
    </div>
  <% end %>
</div>

