.dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  h1 {
    text-align: center;
    font-weight: 100;
  }
  position: absolute;
  color: white;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  overflow-y: auto;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  display: block;
  height: 100%;
  width: 0;
  background: green;
}

.dz-complete {
  position: absolute;
  top: 30%;
  left: 30%;
}
